h1{
    color: lightyellow;
    background-color: skyblue;
    text-align: center;
}
li{
    color: green;
}
#pg{
    color: red;
}
#mg{
    color: blue;
}
.cool{
    font-weight: bold;
}
body{
    background-size: 450px;
    background-attachment: fixed;
}

p{
    border: 3px solid pink;
}    

#intro{
    border: 5px dotted gray;
}

table{
    border-collapse: collapse;
    width: 80%;
}
th {
    background-color: #f4b042;
    color: white;
}

th, td{
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}